<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="org.palladiosimulator.experimentanalysis Target Platform" sequenceNumber="1">
<locations>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="release" refresh="true">
			<unit id="org.palladiosimulator.commons.feature.feature.group" version="tbd"/>
			<repository location="https://sdqweb.ipd.kit.edu/eclipse/commons/releases/latest/"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="nightly" refresh="true">
			<unit id="org.palladiosimulator.commons.feature.feature.group" version="tbd"/>
			<repository location="https://sdqweb.ipd.kit.edu/eclipse/commons/nightly/"/>
		</location>
		
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="release" refresh="true">
			<unit id="org.palladiosimulator.thirdpartywrapper.feature.feature.group" version="tbd"/>
			<repository location="https://sdqweb.ipd.kit.edu/eclipse/thirdpartywrapper/releases/latest/"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="nightly" refresh="true">
			<unit id="org.palladiosimulator.thirdpartywrapper.feature.feature.group" version="tbd"/>
			<repository location="https://sdqweb.ipd.kit.edu/eclipse/thirdpartywrapper/nightly/"/>
		</location>
		
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="release" refresh="true">
			<unit id="org.palladiosimulator.metricspec.feature.feature.group" version="tbd"/>
			<repository location="https://sdqweb.ipd.kit.edu/eclipse/metricspec/releases/latest/"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="nightly" refresh="true">
			<unit id="org.palladiosimulator.metricspec.feature.feature.group" version="tbd"/>
			<repository location="https://sdqweb.ipd.kit.edu/eclipse/metricspec/nightly/"/>
		</location>
		
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="release" refresh="true">
			<unit id="org.palladiosimulator.measurementframework.feature.feature.group" version="tbd"/>
			<repository location="https://sdqweb.ipd.kit.edu/eclipse/measurementframework/releases/latest/"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="nightly" refresh="true">
			<unit id="org.palladiosimulator.measurementframework.feature.feature.group" version="tbd"/>
			<repository location="https://sdqweb.ipd.kit.edu/eclipse/measurementframework/nightly/"/>
		</location>
		
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="release" refresh="true">
			<unit id="org.palladiosimulator.recorderframework.feature.feature.group" version="tbd"/>
			<repository location="https://sdqweb.ipd.kit.edu/eclipse/recorderframework/releases/latest/"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="nightly" refresh="true">
			<unit id="org.palladiosimulator.recorderframework.feature.feature.group" version="tbd"/>
			<repository location="https://sdqweb.ipd.kit.edu/eclipse/recorderframework/nightly/"/>
		</location>
		
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="release" refresh="true">
			<unit id="org.palladiosimulator.probeframework.feature.feature.group" version="tbd"/>
			<repository location="https://sdqweb.ipd.kit.edu/eclipse/probeframework/releases/latest/"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="nightly" refresh="true">
			<unit id="org.palladiosimulator.probeframework.feature.feature.group" version="tbd"/>
			<repository location="https://sdqweb.ipd.kit.edu/eclipse/probeframework/nightly/"/>
		</location>
		
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="release" refresh="true">
			<unit id="org.palladiosimulator.edp2.feature.feature.group" version="tbd"/>
			<repository location="https://sdqweb.ipd.kit.edu/eclipse/edp2/releases/latest/"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="nightly" refresh="true">
			<unit id="org.palladiosimulator.edp2.feature.feature.group" version="tbd"/>
			<repository location="https://sdqweb.ipd.kit.edu/eclipse/edp2/nightly/"/>
		</location>
		
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="release" refresh="true">
			<unit id="de.uka.ipd.sdq.sensorframework.feature.feature.group" version="tbd"/>
			<repository location="https://sdqweb.ipd.kit.edu/eclipse/sensorframework/releases/latest/"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="nightly" refresh="true">
			<unit id="de.uka.ipd.sdq.sensorframework.feature.feature.group" version="tbd"/>
			<repository location="https://sdqweb.ipd.kit.edu/eclipse/sensorframework/nightly/"/>
		</location>
		
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="release" refresh="true">
			<unit id="org.palladiosimulator.pcm.edp2.measuringpoint.feature.feature.group" version="tbd"/>
			<repository location="https://sdqweb.ipd.kit.edu/eclipse/palladio/pcm/releases/latest/"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="nightly" refresh="true">
			<unit id="org.palladiosimulator.pcm.edp2.measuringpoint.feature.feature.group" version="tbd"/>
			<repository location="https://sdqweb.ipd.kit.edu/eclipse/palladio/pcm/nightly/"/>
		</location>
		
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="release" refresh="true">
			<unit id="org.palladiosimulator.editors.commons.feature.feature.group" version="tbd"/>
			<repository location="https://sdqweb.ipd.kit.edu/eclipse/palladio/editors/commons/releases/latest/"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="nightly" refresh="true">
			<unit id="org.palladiosimulator.editors.commons.feature.feature.group" version="tbd"/>
			<repository location="https://sdqweb.ipd.kit.edu/eclipse/palladio/editors/commons/nightly/"/>
		</location>
</locations>
</target>
